.displayedNumber {
  text-align: center;
  padding-top: 375px;
  font-size: 5cm;
}

button{
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 15px 32px;
  width: 150px;
  height: 70px;
  font-size:40cm
}
